:root{
    --dark-color-theme: #7B68EE;
    --medium-color-theme: #9B8AFF;
    --soft-color-theme: #B3A8F9;
    --dark-color-second: #676767;
    --medium-color-second: #a7a7a7;
    --soft-color-second: #D4D4D4;
    --ligh-color-second: #E5E5E5;

    --color-theme: #fff;
    --color-second: #000;
}



*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto';
    font-size: 20px;
    box-sizing: border-box;
}
body{
    background: var(--ligh-color-second);
    overflow-x: hidden;
}




/* CONTAINER NAVEGATION */
#container-nav{
    width: 100%;
    padding: 10px 0px;
    position: relative;
    background: #fff;
}
#container-nav > nav > ul{
    width: 100%;
    height: 100%;
    padding: 0px 60px;
    display: flex;
    justify-content: space-between;
}
#container-nav > nav > ul li{
    display: grid;
    place-content: center;
}
/* CONTAINER NAVEGATION HOME */
#container-nav > nav > ul > #link-home > a{
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--dark-color-theme);
}

/* CONTAINER NAVEGATION BUTTON SEARCH */
#container-nav > nav > ul > #link-search > a{
    display: block;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container-nav > nav > ul > #link-search > a > input{
    max-width: 250px;
    height: 100%;
    padding: 5px 20px;
    padding-right: 70px;
    border-radius: 50px;
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
    outline: none;
    color: var(--dark-color-theme);
    background: var(--ligh-color-second);
}
#container-nav > nav > ul > #link-search > a > input::placeholder{
    font-weight: 500;
    color: var(--dark-color-second);
}
#container-nav > nav > ul > #link-search > a > span{
    cursor: pointer;
    width: 60px;
    height: 100%;
    padding: 10px;
    border-radius: 50px;
    background: var(--dark-color-theme);
    position: absolute;
    top: 0px;
    right: 0px;
    transition: 0.5s;
}
#container-nav > nav > ul > #link-search > a > span > svg{
    width: 100%;
    height: 100%;
    fill: #fff;
}
#container-nav > nav > ul > #link-search > a > span:hover{
    background: var(--medium-color-theme);
}




/* CONTAINER FILTER SEARCH */
#contaner-filter-search{
    width: 100%;
    padding: 10px 60px;
    margin-bottom: 29px;
    background: var(--soft-color-second);
    display: flex;
    align-items: center;
}
/* CONTAINER BUTTON FILTER */
#contaner-filter-search > #cont-btn-filter{
    cursor: pointer;
    height: 100%;
    margin-right: 30px;
    display: flex;
    align-items: center;
}
#contaner-filter-search > #cont-btn-filter > svg{
    width: 1.2rem;
    height: 1.2rem;
    fill: #000;
}
#contaner-filter-search > #cont-btn-filter > p{
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 700;
}
/* ALL INPUTS RHE FILTER */
#contaner-filter-search > ul{
    width: 100%;
    display: flex;
    align-items: center;
}

#contaner-filter-search > ul li{
    width: 200px;
    padding: 0px 15px;
    border-right: 3px solid var(--medium-color-second);
    list-style: none;
}
#contaner-filter-search > ul li > input{
    width: 100%;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    outline: none;
    color: var(--dark-color-theme);
    background: #fff;
}
#contaner-filter-search > ul > #select-priority{
    width: auto;
}
#contaner-filter-search > ul > #select-priority > label{
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #000;
    background: #f1f1f1;
}
#contaner-filter-search > ul > #select-priority > label > select{
    width: 130px;
    padding: 3px 10px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    outline: none;
    color: var(--dark-color-theme);
    background: #fff;
}
#contaner-filter-search > ul > #btn-filter-search{
    border: none;
}
#contaner-filter-search > ul #btn-filter-search > button{
    cursor: pointer;
    width: 100%;
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 700;
    outline: none;
    border: none;
    color: #fff;
    background: var(--dark-color-theme);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s;
}
#contaner-filter-search > ul #btn-filter-search > button > svg{
    width: 1rem;
    height: 1rem;
    fill: #fff;
    position: absolute;
    left: 20px;
}
#contaner-filter-search > ul #btn-filter-search > button:hover{
    background: var(--medium-color-theme);
}
/* CONT TITLE FILTER */
#contaner-filter-search > ul > #cont-title-filter{
    display: none;
}
/* CONT BUTTON CLOSE */
#contaner-filter-search > ul > #cont-btn-close{
    display: none;
}



#cont-not-result{
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#cont-not-result > h1{
    font-size: 1.4rem;
    font-style: italic;
    margin-bottom: 30px;
    color: var(--dark-color-second);
}
#cont-not-result > svg{
    width: 400px;
}
#cont-not-result > span{
    cursor: pointer;
    margin-top: 40px;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: underline;
    color: var(--medium-color-theme);
}
#cont-not-result > span:hover{
    color: var(--dark-color-theme);
}



/* CONTAINER TASKS */
#container-task{
    width: 100%;
    padding: 20px 60px;
}
#container-task > #cont-all-task-lists{
    width: 100%;
}
#container-task > #cont-all-task-lists .cont-list-task{
    display: block;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}


#container-task > #cont-all-task-lists #cont-img-empty{
    width: 260px;
    padding: 0px 40px;
}
#container-task > #cont-all-task-lists #cont-img-empty > svg{
    width: 100%;
    height: 100%;
}

/* CONT NAME THE NOTEBOOK */
#container-task > #cont-all-task-lists .cont-list-task > #name-list-task{
    display: inline-block;
    margin-left: 40px;
}
#container-task > #cont-all-task-lists .cont-list-task > #name-list-task > #name-list-task-flex{
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 3px solid var(--medium-color-theme);
    background: var(--ligh-color-second);
}
#container-task > #cont-all-task-lists .cont-list-task > #name-list-task > #name-list-task-flex > header > h1{
    padding: 0px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--dark-color-second);
}
#container-task > #cont-all-task-lists .cont-list-task > #name-list-task > #name-list-task-flex > #btns-confg-list-task{
    display: flex;
    position: relative;
}
#container-task > #cont-all-task-lists .cont-list-task > #name-list-task > #name-list-task-flex > #btns-confg-list-task button{
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
    padding: 5px 20px;
    border-radius: 50px;
    background: #000000;
    border: none;
    outline: none;
    box-sizing: content-box;
    transition: 0.5s;
}
#container-task > #cont-all-task-lists .cont-list-task > #name-list-task > #name-list-task-flex > #btns-confg-list-task button:nth-child(1){
    position: absolute;
    left: 0px;
    background: var(--soft-color-theme);
}
#container-task > #cont-all-task-lists .cont-list-task > #name-list-task > #name-list-task-flex > #btns-confg-list-task button:nth-child(2){
    padding-left: 4rem;
    padding-right: 20px;
    background: var(--dark-color-theme);
}
#container-task > #cont-all-task-lists .cont-list-task > #name-list-task > #name-list-task-flex > #btns-confg-list-task button > svg{
    width: 100%;
    height: 100%;
    fill: #fff;
}
/* HOVER */
#container-task > #cont-all-task-lists .cont-list-task > #name-list-task > #name-list-task-flex > #btns-confg-list-task button:nth-child(1):hover{
    position: absolute;
    left: 0px;
    background: #1ADE97;
}
#container-task > #cont-all-task-lists .cont-list-task > #name-list-task > #name-list-task-flex > #btns-confg-list-task button:nth-child(2):hover{
    padding-left: 4rem;
    padding-right: 20px;
    background: #ED1A72;
}



/* CONTAINER ALL TASKS */
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task{
    width: 100%;
    padding: 20px 40px;
    position: relative;
}
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task::before{
    content: "";
    width: 100%;
    height: 100%;
    padding-bottom: 1.8rem;
    border: 3px solid var(--dark-color-theme);
    border-radius: 20px;
    position: absolute;
    top: -1rem;
    left: -3px;
    z-index: -1;
}


/* CONTENT TASK */
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task{
    width: 100%;
    height: 50px;
    margin: 10px 0px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: initial;
}
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-task-inf{
    height: 100%;
    display: flex;
    align-items: center;
}
/* CONTENT TAG COLOR TASK */
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-task-inf > #cont-tag-color{
    width: 30px;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    background: #ED1A72;
}
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-task-inf > #cont-btns-config{
    height: 100%;
    display: flex;
    align-items: center;
}
/* BUTTON COMPLETE TASK */
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-task-inf > #btn-complete-task{
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 10px;
    outline: none;
    background: none;
    border: none;
    border-right: 2px solid var(--medium-color-second);
    position: relative;
    transition: 0.5s;
}
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-task-inf > #btn-complete-task > svg{
    width: 100%;
    height: 100%;
    fill: #1ADE97;
}
/* CONTENT TILTE TASK */
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-task-inf > #cont-title > header > h1{
    padding-left: 10px;
    font-size: 1.2rem;
    color: var(--dark-color-second);
}
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-task-inf > #btn-complete-task:hover{
    background: var(--soft-color-theme);
}
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-task-inf > #btn-complete-task:hover > svg{
    fill: #fff;
}

/* BUTTON VISIBLE CONTENT CONFIGURATION */
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-btn-visible-configuration{
    display: none;
}
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-btn-visible-configuration > svg{
    width: 100%;
    height: 100%;
    fill: var(--dark-color-second);
}
/* CONFIGURATION BUTTONS */
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-btns-config{
    height: 100%;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    position: relative;
}
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-btns-config > #cont-date > p{
    padding-right: 20px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--medium-color-second);
}
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-btns-config > #btn-read-task,
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-btns-config > #btn-priority-task{
    cursor: pointer;
    width: 70px;
    height: 40px;
    padding: 10px 20px;
    border-left: 2px solid var(--soft-color-second);
    position: relative;
    z-index: 1;
}
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-btns-config > #btn-read-task::before,
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-btns-config > #btn-priority-task::before{
    content: "";
    width: 73px;
    height: 50px;
    position: absolute;
    top: -5px;
    left: -3px;
    z-index: -1;
    transition: 0.7s;
}
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-btns-config > #btn-read-task > svg,
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-btns-config > #btn-priority-task svg{
    width: 100%;
    height: 100%;
    fill: var(--medium-color-second);
    z-index: 1;
    transition: 0.7s;
}
/* BUTTON PRIORITY TASK */
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-btns-config > #btn-priority-task{
    padding: 7px 20px;
    background: none;
    border: none;
    border-left: 2px solid var(--soft-color-second);
    outline: none;
}
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-btns-config > #btn-priority-task svg{
    fill: #ED1A72;
}
/* LIST OF THE PRIORITYS */
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-btns-config > #list-options-priority{
    padding: 10px 20px;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    right: -500px;
    background: #f5f5f5;
    z-index: 200;
    transition: 0.5s;
}
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-btns-config > #list-options-priority li{
    cursor: pointer;
    padding: 5px 10px;
    list-style: none;
    border-bottom: 2px solid transparent;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-btns-config > #list-options-priority li > svg{
    width: 0.9rem;
    height: 0.9rem;
}
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-btns-config > #list-options-priority li > span{
    margin-left: 15px;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--dark-color-second);
}
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-btns-config > #list-options-priority li:hover{
    padding-left: 5px;
    border-bottom: 2px solid var(--dark-color-second);
}


#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-btns-config > #btn-read-task:hover::before,
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-btns-config > #btn-priority-task:hover::before{
    background: var(--soft-color-theme);
}
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-btns-config > #btn-read-task:hover > svg,
#container-task > #cont-all-task-lists .cont-list-task > #cont-all-task > .cont-task > #cont-btns-config > #btn-priority-task:hover > svg{
    fill: #fff;
}




/* CONTANER BUTTON THE CREATE NEW TASK */
#container-task > #cont-all-task-lists .cont-list-task > #btn-create-new-task{
    cursor: pointer;
    padding: 7px 30px;
    margin-left: 40px;
    background: var(--medium-color-theme);
    outline: none;
    border: 2px solid var(--medium-color-theme);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    transition: 0.5s;
}
#container-task > #cont-all-task-lists .cont-list-task > #btn-create-new-task > svg{
    width: 1rem;
    height: 1rem;
    fill: #fff;
    transition: 0.5s;
}
#container-task > #cont-all-task-lists .cont-list-task > #btn-create-new-task > p{
    margin-left: 8px;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    transition: 0.5s;
}
#container-task > #cont-all-task-lists .cont-list-task > #btn-create-new-task:hover{
    background: var(--ligh-color-second);
    border: 2px solid var(--dark-color-theme);
}
#container-task > #cont-all-task-lists .cont-list-task > #btn-create-new-task:hover > svg{
    fill: var(--dark-color-theme);
}
#container-task > #cont-all-task-lists .cont-list-task > #btn-create-new-task:hover > p{
    color: var(--dark-color-theme);
}



/* CONTAINER BUTTON NEW LIST CREATE */
#container-task > #btn-create-new-list-task{
    width: 100%;
    margin: 60px 0px;
    position: relative;
}
#container-task > #btn-create-new-list-task > hr{
    width: 100%;
    border-top: 3px solid var(--dark-color-theme);
    position: absolute;
    top: 1rem;
    left: 0px;
    z-index: -1;
}
#container-task > #btn-create-new-list-task > button{
    cursor: pointer;
    margin-left: 40px;
    padding: 5px 40px;
    outline: none;
    background: var(--ligh-color-second);
    border: 3px solid var(--dark-color-theme);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: 0.5s;
}
#container-task > #btn-create-new-list-task > button > svg{
    width: 1.1rem;
    height: 1.1rem;
    margin-bottom: 3px;
    fill: var(--dark-color-theme);
    transition: 0.5s;
}
#container-task > #btn-create-new-list-task > button > p{
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--dark-color-theme);
    transition: 0.5s;
}

#container-task > #btn-create-new-list-task > button:hover{
    background: var(--dark-color-theme);
}
#container-task > #btn-create-new-list-task > button:hover > svg{
    fill: #fff;
}
#container-task > #btn-create-new-list-task > button:hover > p{
    color: #fff;
}



/* FORM CREATE NEW TASK */
#container-task > #form-create-new-task{
    position: fixed;
    right: 40px;
    bottom: 30px;
    z-index: 500;
    transform: scale(0);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}
#container-task > #form-create-new-task > form{
    padding: 50px 50px 30px 40px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px rgb(89, 89, 89);
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
}
/* INPUTS OF FORM */
#container-task > #form-create-new-task > form > #form-inputs > header > h1{
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--medium-color-second);
    text-align: center;
}
#container-task > #form-create-notebook > form > #form-inputs,
#container-task > #form-create-new-task > form > #form-inputs{
    display: flex;
    flex-direction: column;
}
#container-task > #form-create-notebook > form > #form-inputs label,
#container-task > #form-create-new-task > form > #form-inputs label{
    width: 100%;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--dark-color-second);
    background: rgb(244, 244, 244);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
#container-task > #form-create-notebook > form > #form-inputs label > input,
#container-task > #form-create-new-task > form > #form-inputs label > input{
    width: 100%;
    margin-left: 15px;
    border: none;
    outline: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--dark-color-theme);
    background: rgb(244, 244, 244);
}
#container-task > #form-create-new-task > form > #form-inputs label > select{
    width: 100%;
    margin-left: 30px;
    outline: none;
    margin: none;
    border: none;
    background: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--dark-color-theme);
}
#container-task > #form-create-new-task > form > #form-inputs > textarea{
    width: 100%;
    padding: 5px 10px;
    font-size: 0.9rem;
    font-weight: 500;
    background: rgb(244, 244, 244);
    border: none;
    outline: none;
    color: var(--medium-color-theme);
    border-radius: 10px;
}
/* BUTTON CLOSE FORM */
#container-task > #form-create-notebook > form > #btn-close,
#container-task > #form-create-new-task > form > #btn-close{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    position: absolute;
    top: 10px;
    right: 15px;
}
#container-task > #form-create-notebook > form > #btn-close > svg,
#container-task > #form-create-new-task > form > #btn-close > svg{
    width: 1.3rem;
    height: 1.3rem;
}
#container-task > #form-create-notebook > form > #btn-close:hover > svg,
#container-task > #form-create-new-task > form > #btn-close:hover > svg{
    fill: #ED1A72;
}
/* BUTTON CREATE TASK */
#container-task > #form-create-notebook > form > #btn-add-notebook,
#container-task > #form-create-new-task > form > #btn-add-task{
    cursor: pointer;
    padding: 10px 30px;
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    outline: none;
    border: 2px solid transparent;
    border-radius: 50px;
    color: #fff;
    background: var(--medium-color-theme);
    position: relative;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
#container-task > #form-create-notebook > form > #btn-add-notebook > svg,
#container-task > #form-create-new-task > form > #btn-add-task > svg{
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
    fill: #fff;
    transition: 0.5s;
}

#container-task > #form-create-notebook > form > #btn-add-notebook:hover,
#container-task > #form-create-new-task > form > #btn-add-task:hover{
    background: #fff;
    color: var(--dark-color-theme);
    border: 2px solid var(--dark-color-theme);
}
#container-task > #form-create-notebook > form > #btn-add-notebook:hover > svg,
#container-task > #form-create-new-task > form > #btn-add-task:hover > svg{
    fill: var(--dark-color-theme);
}




/* CREATE NOTEBOOK */   
#container-task > #form-create-notebook{
    width: 100%;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    place-content: center;
    z-index: 600;
    transition: 0.3s;
}
#container-task > #form-create-notebook > form{
    height: fit-content;
    padding: 40px 60px 30px;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--color-theme);
    transition: 0.3s;
    transform: scale(0);
    overflow: hidden;
}
#container-task > #form-create-notebook > form > header > h1{
    margin-bottom: 210px;
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--dark-color-theme);
    text-align: center;
}
#container-task > #form-create-notebook > form > #form-inputs{
    width: 100%;
}
#container-task > #form-create-notebook > form > #form-inputs label{
    border-radius: 50px;
}
#container-task > #form-create-notebook > form > #btn-add-notebook{
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    font-size: 0.9em;
    border: 2px solid #fff;
}
#container-task > #form-create-notebook > form > #cont-img{
    width: 100%;
    margin-bottom: 20px;
    position: absolute;
    left: 0px;
    bottom: -33px;
    z-index: -1;
}
#container-task > #form-create-notebook > form > #cont-img > svg{
    width: 100%;
    height: 100%;
}




/* CONTENT MESSAGE */
#cont-text-box{
    width: 100%;
    height: 100vh;
    padding: 0px 20px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.493);
    z-index: 900;
}
#cont-text-box > div{
    width: 500px;
    padding: 20px 40px;
    position: relative;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
}
#cont-text-box > div > #cont-title > h1{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--dark-color-theme);
}
#cont-text-box > div > #cont-img{
    width: 170px;
    height: 180px;
    margin-bottom: 20px;
}
#cont-text-box > div > #cont-img > svg{
    width: 100%;
    height: 100%;
}
#cont-text-box > div > #cont-msg{
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--medium-color-second);
}
#cont-text-box > div > input{
    display: none;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 25px;
    color: var(--medium-color-theme);
    background: #eee;
    outline: none;
    border: none;
    border-radius: 25px;
}
#cont-text-box > div > #btn-close{
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    background: none;
    position: absolute;
    top: 10px;
    right: 15px;
}
#cont-text-box > div > #btn-acept{
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    background: var(--medium-color-theme);
    border: none;
    outline: none;
    border-radius: 50px;
    transition: 0.5s;
}
#cont-text-box > div > #cont-read-text{
    width: 100%;
    padding: 20px 10px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background: #efefef;
    position: relative;
}
#cont-text-box > div > #cont-read-text::before {
    content: '';
    width: 170px;
    height: 30px;
    border-radius: 24px;
    background: #B3A8F9;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}
#cont-text-box > div > #cont-read-text > header > h1{
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 5px;
    font-size: 1.1rem;
    color: var(--medium-color-theme);
    background: #efefef;
    border-radius: 50px;
}
#cont-text-box > div > #cont-read-text > span{
    width: 100%;
    padding: 7px 20px;
    margin:  5px 0px;
    font-size: 1rem;
    color: var(--dark-color-second);
    background: #efefef;
    border-radius: 50px;
}

#cont-text-box > div > #btn-close:hover > svg{
    fill: #ed1a72;
}
#cont-text-box > div > #btn-acept:hover{
    color: var(--medium-color-theme);
    background: var(--ligh-color-second);;
}