@import "./filter.css";
@import "./form.css";
@import "./nav.css";
@import "./notebook.css";
@import "./responsive.css";
@import "./search-result.css";
@import "./task.css";
@import "./group.css";
@import "./container-task.css";
@import "./dialog.css";
@import "./notebook-form.css";

:root{
    --dark-color-theme: #7B68EE;
    --medium-color-theme: #9B8AFF;
    --soft-color-theme: #B3A8F9;
    --dark-color-second: #676767;
    --medium-color-second: #a7a7a7;
    --soft-color-second: #D4D4D4;
    --ligh-color-second: hsl(0, 0%, 95%);

    --color-theme: #fff;
    --color-second: #000;
}



*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto';
    font-size: 20px;
    box-sizing: border-box;
}
body{
    background: var(--ligh-color-second);
    overflow-x: hidden;
}


/* COMMON CLASSES */
.btn{
    outline: none;
    border: none;
    background: none;
}

select,
input{
    background: none;
    color: #303030;
}