/* NEW TASK FORM */
#new-task-form{
    width: 100vw;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 760;
    display: none;
    opacity: 0;
    transition: opacity 500ms;
}
#new-task-form .form-wrapper{
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    background: #fff;
    position: relative;
}
#new-task-form form{
    width: 100%;
    padding: 20px 30px;
    position: relative;
    display: flex;
    flex-direction: column;
}

#new-task-form form #form-inputs header{
    margin-bottom: 15px;
}
#new-task-form form #form-inputs header h1{
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #707070;
    text-align: center;
}
#new-task-form.visible{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}


/* FORM */
#new-notebook-form form #form-inputs,
#new-task-form form #form-inputs{
    display: flex;
    flex-direction: column;
}
#new-notebook-form form #form-inputs label,
#new-task-form form #form-inputs label{
    width: 100%;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--dark-color-second);
    background: rgb(244, 244, 244);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
#new-notebook-form form #form-inputs label input,
#new-task-form form #form-inputs label input{
    width: 100%;
    margin-left: 15px;
    border: none;
    outline: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--dark-color-theme);
    background: rgb(244, 244, 244);
}
#new-task-form form #form-inputs label select{
    width: 100%;
    margin-left: 30px;
    outline: none;
    margin: none;
    border: none;
    background: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--dark-color-theme);
}
#new-task-form form #form-inputs textarea{
    width: 100%;
    padding: 5px 10px;
    font-size: 0.9rem;
    font-weight: 500;
    background: rgb(244, 244, 244);
    border: none;
    outline: none;
    color: var(--medium-color-theme);
    border-radius: 10px;
}
/* BUTTON CLOSE FORM */
#new-notebook-form #btn-close,
#new-task-form #btn-close{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 770;
}
#new-notebook-form #btn-close svg,
#new-task-form #btn-close svg{
    width: 1.3rem;
    height: 1.3rem;
}
#new-notebook-form #btn-close:hover svg,
#new-task-form #btn-close:hover svg{
    fill: #ED1A72;
}
/* BUTTON CREATE TASK */
#new-notebook-form form #btn-add-notebook,
#new-task-form form #btn-add-task{
    cursor: pointer;
    padding: 10px 30px;
    margin-top: 20px;
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    outline: none;
    border: 2px solid transparent;
    border-radius: 50px;
    color: #fff;
    background: var(--medium-color-theme);
    position: relative;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
#new-notebook-form form #btn-add-notebook svg,
#new-task-form form #btn-add-task svg{
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 10px;
    fill: #fff;
    transition: 0.5s;
}

#new-notebook-form form #btn-add-notebook:hover,
#new-task-form form #btn-add-task:hover{
    background: #fff;
    color: var(--dark-color-theme);
    border: 2px solid var(--dark-color-theme);
}
#new-notebook-form form #btn-add-notebook:hover svg,
#new-task-form form #btn-add-task:hover svg{
    fill: var(--dark-color-theme);
}


@media screen and (max-width: 768px){
    #new-task-form{
        background: #fff;
    }
    #new-task-form .form-wrapper{
        width: 100%;
        height: 100%;
        border-radius: 0px;
        position: initial;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #new-task-form form{
        padding: 20px 10px;
    }
    #new-task-form form #btn-add-task svg{
        width: 1rem;
        height: 1rem;    
    }
    #new-task-form #btn-close{
        top: 10px;
        right: 10px;
    
    }
}