/* CREATE NOTEBOOK */   
#new-notebook-form{
    width: 100vw;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 750;
    display: none;
    opacity: 0;
    transition: opacity 500ms;
}
#new-notebook-form .form-wrapper{
    width: 100%;
    max-width: 500px;
    background: #fff;
    border-radius: 15px;
    position: relative;
}
#new-notebook-form form{
    width: 100%;
    padding: 30px 40px 30px;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
    overflow: hidden;
}
#new-notebook-form form header h1{
    margin-bottom: 40px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #707070;
    text-align: center;
}
#new-notebook-form form #form-inputs{
    width: 100%;
}
#new-notebook-form form label{
    border-radius: 50px;
    background: hsl(0, 0%, 96%)!important;
}
#new-notebook-form form input{
    background: transparent!important;
}
#new-notebook-form form #btn-add-notebook{
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    font-size: 0.9em;
    border: 2px solid #fff;
}
#new-notebook-form form #cont-img{
    width: 100%;
    margin-bottom: 20px;
    position: absolute;
    left: 0px;
    bottom: -33px;
    z-index: -1;
}
#new-notebook-form form #cont-img svg{
    width: 100%;
    height: 100%;
}


#new-notebook-form.visible{
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 768px){
    #new-notebook-form{
        background: #fff;
    }
    #new-notebook-form .form-wrapper{
        width: 100%;
        height: 100%;
        border-radius: 0px;
        position: initial;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #new-notebook-form form{
        padding: 20px 10px;
    }
}